---
layout: default
---
<link rel="stylesheet" href="../css/post.css"/>
<link rel="stylesheet" href="../css/prettify.css" >

 	<div class="topNav">
    <ul>
    	<li><a href="/index.html">首页</a></li>
        <li><a href="/blog/index.html">博客</a></li>
        <li><a href="/contact/index.html">联系</a></li>
    </ul>
    </div>
    <div class="postContent">
    	<h1>{{page.title}}</h1>
        <h4 class="time">{{ page.date|date:"%Y-%m-%d" }}</h4>
        <div class="enterContent"> 
			{{ content }}
		</div>
         
         <div class="postComment">
            <a href="#" class="comment" onclick="return false;">点击查看评论</a>
            <div id="disqus_thread"></div>
        </div>
    </div>
	<script src="../js/post.js"></script>


